<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item"  [class.active]="router.url==='/home'" >
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/winngo'">
        <a class="nav-link" [routerLink]="['/winngo']">WinNGo</a>
      </li>
      <li class="nav-item"[class.active]="router.url==='/profile'" >
        <a class="nav-link disabled" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/about'">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="display: none;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid"> 
  <div class="row">
    <div class="container-fluid" style="min-height: 660px;">
      <router-outlet></router-outlet>
      
    </div>
  </div>
  <div class="row" style="width: 100%;overflow: auto;">
    <footer class="navbar navbar-dark bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; 24Circle 2020</p>
      </div>
      <!-- /.container -->
    </footer>
  </div>
</div>
