
<div class="row">
    <div class="col-2" style="position: fixed; height: 100%; overflow: auto; background-color: #111;">
    <!-- <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['game']" role="tab" aria-controls="v-pills-home" aria-selected="true">Game Board</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" [routerLink]="['deposit']" role="tab" aria-controls="v-pills-profile" aria-selected="false">deposit</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" [routerLink]="['withdraw']" role="tab" aria-controls="v-pills-messages" aria-selected="false">withdraw</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" [routerLink]="['GameRules']" role="tab" aria-controls="v-pills-settings" aria-selected="false">Game Rules</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" [routerLink]="['TradeHistory']" role="tab" aria-controls="v-pills-settings" aria-selected="false">Trade History</a>
      </div> -->
     
    </div>
    
    <!-- Sidebar -->
    
    <div class="col-2"></div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>
