
<div class="row" style="min-height: 660px;">
    <div class="col-2 sidebar d-flex justify-content-center" >
        <div class="infoSection" style="position: fixed;margin-top: 6px;">
                <div class="ppicdiv">
                    <img class="img-fluid rounded-circle" src="assets/images/01.jpg" alt="">
                </div>
                <div class="infodata">
                    <div class="form-group" style="color: white;">
                        <label>Name: </label>
                        <label>Srikanth Puli</label>
                        <!-- <input type="text" class="disabled form-control " value="srikanth puli"> -->
                    </div>
                </div>
           </div>
    </div>
    <div class="col maincontent">

        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
        
        <p>Profile works!</p>
    </div>
    <div class="col-2" style="background-color: rebeccapurple; color:white">
        <div class="rinfo mt-2" >
            <h3 class="sideheading">Recent Blogs</h3>
            <div class="bloglist">
                <ul>
                    <li>sep 1</li>
                    <li>aug 15</li>
                    <li> nov 29</li>
                    <li>dec 2</li>
                </ul>
            </div>
        </div>
    </div>
</div>



